/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
	line-height: 1.2;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
    width: 98%;
    text-align: center;
    margin-left: 5px;
    margin-top: 5px;
} 
/* end reset browser styles */

html {
	background-color: white;
}

* {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

body {
	font-size: 100%;
	background-color: white;
	background-attachment: scroll;
	max-width: 1800px;
	padding: 0;
    margin: 0 auto;
	border: 3px solid black;
	box-shadow: -4px 5px 15px 10px rgba(102, 102, 102, 0.75),
	            4px 5px 15px 10px rgba(102, 102, 102, 0.75);
	            
}
header {
	width: 100%;
}
form {
	width: 19.6666667%;
	margin-top: 12%;
	float: left;
	margin-bottom: 0;
}
.logo {
	width: 70%;
	margin-top: -10%;
	margin-left: 20%;
}

fieldset {
	font-size: 1em;
	color: black;
	text-align: left;
	padding-bottom: 5%;
	padding-left: 5%;
	margin-left: 8.33333333%;
	border: 1px solid #c157a1;
	border-radius: 10px;
}
.entry_1 {
	width: 23.3333333%;
	font-size: 0.7em;
	color: black;
	background-color: white;
	border: 3px solid white;
	box-shadow: 3px 0px 7px black;
	margin: 5% 3% 0 0;
	font-weight: bold;
	border-radius: 3px;
	padding: 1.66666667% 2.66666667%;
}
.entry_2 {
	width: 62.6666667%;
	font-size: 0.7em;
	color: black;
	background-color: white;
	border: 3px solid white;
	box-shadow: 3px 0px 7px black;
	margin: 5% 3% 0 0;
	font-weight: bold;
	border-radius: 3px;
	padding: 1.66666667% 2.66666667%;
}
.enter {
	width: 91.6666667%; 
	height: 10%;
	font-size: 0.6em;
	color: black;
	background-color: white;
	border: 3px solid white;
	box-shadow:3px 0px 7px black;
	margin: 1.81818182% 3.63636364% 1.81818182% 0;
	font-weight: bold;
	border-radius: 3px;
	padding: 1.81818182% 2.90909091%;
}
legend {
	color: black;
	text-align:center;
	padding: 1.66666667%;
	font-size: 0.9em;
}
#load {
	display: none;
	position: absolute;
	right: 43%;
	top: 35%;
	width: 160px;
	height: 20px;
	text-indent: -9999em;
	background: url(img/134.gif);
}
.nav {
    background-color: rgba(170,20,115,0.8);
	height: 60px;
	text-align: center;
	margin-top: -9.77777778%;
    border-top: 1px solid white;
	border-bottom: 1px solid white;
}

ul.mainNav {
	padding-top: 1.2%;
	margin-left: 10%;
}
.mainNav li {
	display: inline;
	padding-right: 2.77777778%;
}
.mainNav a {
	text-decoration: none;
	position: relative;
	color: white;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
}
.active {
	color: #dbdbdb;
	font-weight: bold;
	text-shadow: 1px 1px 2px black, 0 0 1em white;
}
.mainNav li a:before  {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: #fff;
  top: 110%;
  animation: out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

.mainNav li:hover a:before {
  animation: in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}

.mainNav li:nth-child(1) a {
  animation: show 0.2s 0.6s ease 1 both;
}

.mainNav li:nth-child(2) a{
  animation: show 0.2s 0.8s ease 1 both;
}

.mainNav li:nth-child(3) a{
  animation: show 0.2s 1s ease 1 both;
}

.mainNav li:nth-child(4) a {
  animation: show 0.2s 1.2s ease 1 both;
}

.mainNav li:nth-child(5) a {
  animation: show 0.2s 1.4s ease 1 both;
}

@keyframes in {
  0% {
    width: 0;
    left: 0;
    right: auto;
  }
  100% {
    left: 0;
    right: auto;
    width: 100%;
  }
}

@keyframes out {
  0% {
    width: 100%;
    left: auto;
    right: 0;
  }
  100% {
    width: 0;
    left: auto;
    right: 0;
  }
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
button {
    outline: none;
}

.add-to-cart:hover {
	background: rgb(252, 252, 255);
	color: black;
}
.add-to-cart:active {
	background: rgb(252, 252, 255);
	color: black;
	border: 2px solid gray;
}
#basket {
	float: right;
	margin-top: -1%;
	margin-right: 2%;
	-moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
#basket:hover {
	-ms-transform: scale(1.6);
	-webkit-transform: scale(1.6);
	-o-transform: scale(1.6);
	-moz-transform: scale(1.6);
	transform: scale(1.6);
}
img {
	max-width:100%;
}

.shippment {
	width: 50%;
	padding-left: 5%;
	padding-top: 3%;
	padding-bottom: 2%;
	display: table-cell;
	font-size: 1.4em;
}
.pay, .shippment img{
	margin-top: 3%;
}
.pay {
	width: 50%;
	padding-left: 5%;
	padding-top: 1%;
	padding-bottom: 2%;
	display: block;
	font-size: 1.4em;
}
.container h1{
	margin-top: 0.22222222%;
	margin-left: 0%;
	color: rgb(170,20,115);
}

figcaption{
	color: black;
	width: 100%;
	font-size: 1.2em;
	text-align: center;
	border-bottom: 1px solid #bababa;
	padding-bottom: 4.66666667%;
}

.add-to-cart {
	color: white;
	font-size: 1em;
	background-color: rgba(170,20,115,0.8);
	width: 100%;
	height:60px;
	border: 3px solid white;
	box-shadow:3px 0px 7px black;
	margin: 6.66666667% 3.33333333% 0 0;
	font-weight: bold;
	border-radius: 10px;
}

.price0 {
	display: inline;
	text-decoration: line-through;
	text-decoration-color: red;
	font-size: 1.375em;
	font-weight: bold;
	padding-right: 2.33333333%;
	color: red;
	opacity: 0.7;
}
.price1{
	display: inline;
	font-weight: bold;
	font-size: 1.75em;
	color: #808080;
}
.price {
	margin-top: 5%;
	text-align: center;
}

.table {
	width: 100%;
	display: table;
	border-spacing: 90px 90px;
}
.row{
	display: table-row;
}
.cell {
	width: 16.6666667%;
	display: table-cell;
	padding-top: 1.66666667%;
	padding-left: 1.66666667%;
	padding-right: 1.66666667%;
	padding-bottom: 1.66666667%;
	border: 1px solid #bababa;
	border-radius: 10px;
	-moz-transition-duration: 0.2s;
	-ms-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.cell:hover {
	-ms-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-o-transform: scale(1.05);
	-moz-transform: scale(1.05);
	transform: scale(1.05);
}
h1 {
	color: black;
	background-color: white;
	text-align:left;
	font-size: 2.1875em;
	margin-top: 2.22222222%;
	margin-left: 2.77777778%;
}
h2 {
	font-size: 1.3em;
	color: rgb(170,20,115);
}
.container {
	width: 90%;
	font-size: 1.3em;
	margin-left: 6%;
	padding-top: 2%;
	margin-top: -2%;
	margin-bottom: 3%;
}
.main_info {
	margin-top: 1%;
	list-style-type: disc;
}
.add {
	width: 80%;
	margin-top: 4%;
	float: left;
	font-size: 1.2em;
}
.about_us {
	font-size: 1.4em;
	margin-top: 2%;
	margin-left: 3%;
	padding-top: 2%;
}

.pay, .shippment img{
	margin-top: 3%;
}
.pay {
	width: 50%;
	padding-left: 5%;
	padding-top: 1%;
	padding-bottom: 2%;
	display: block;
	font-size: 1.4em;
}
address {
	color:black;
    text-align:right;
	opacity: 0.9;
	border-top: 1px solid #bababa;
	padding-top: 0.27777778%;
	padding-right: 0.5%;
	border-left: none;
	border-right: none;
	background-color: rgba(170,20,115,0.8);
	height: 100px;
	background-repeat: no-repeat;
	clear: both;
}
address a{
	color: white;
}
/*Стили для корзины*/

/*******************************
 *
 *******************************/

.bird
{
/*border: 4px solid #999;*/
width: 100px;
height: 30px;
position: absolute;
text-align: left;
display: none;
/*background: #F0F0F0;*/
vertical-align: middle;
font-size: 18px;
} 	
.blindLayer {
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
bottom: 0;
left: 0;
position: fixed;
right: 0;
top: 0;
z-index: 1001;
display: none;
}
.blind_Layer{
background: none repeat scroll 0 0 rgba(0, 0, 0, 0.8);
bottom: 0;
left: 0;
position: fixed;
right: 0;
top: 0;
z-index: 1001;
display: none;
}
.bcontainer
{
position: absolute;
width: 850px;
height: 500px;
background: #fff;
border: 8px solid #999;	
display: none;
z-index: 1002;
margin-top: -7%;
padding-top: 20px;
padding-right: 20px;
padding-left: 20px;
}
#overflw
{
overflow-y: scroll;
overflow-x: hidden;
height: 300px;
	
	
}

#bcaption
{
background: rgba(170,20,115,0.8);
color: white;
}
#bcaption td
{
border-right: 2px solid #bababa;
font-weight: bold;
text-align: center;	
}
#bcaption td {padding: 5px;}
#bcaption td:nth-child(1) { width: 50px; }		/*ID*/
#bcaption td:nth-child(2) { width: 300px; }		/*NAME*/
#bcaption td:nth-child(3) { width: 100px; }		/*PRICE*/
#bcaption td:nth-child(4) { width: 150px; }		/*NUM*/
#bcaption td:nth-child(5) { width: 100px; }		/*SUM*/

.bitem td
{
font: normal 18px Arial;
color: #999;
padding: 5px;	
border-bottom: 1px solid #999;	
border-right: 2px solid #FFF;
}

.bitem td:nth-child(1) { width: 50px; }
.bitem td:nth-child(2) { width: 300px; }
.bitem td:nth-child(3) { width: 100px; text-align: center;} 
.bitem td:nth-child(4) { width: 150px; text-align: center;}
.bitem td:nth-child(5) { width: 100px; text-align: center;}

#bclose
{
float: right;	
}

.bcontainer table
{
width: 100%;	
}
.bbutton
{
color: white;
font-size: 1em;
background-color: rgba(170,20,115,0.8);
border: 3px solid white;
box-shadow:3px 0px 7px black;
font-weight: bold;
border-radius: 10px;
padding: 10px;
font: bold 16px Arial;
margin-top: 3%;	
float: right;
}
#bsum
{
float: right;
margin-top: 4.5%;
margin-right: 1%;
font: normal 18px Arial;
}

.popup {
    background: none repeat scroll 0 0 #F2F2F2;
    border: 1px solid #808040;
    left: 50%;
    margin-left: -290px;
    padding: 25px 20px;
    position: absolute;
    top: 0%; 
    left: 50%;
    top: 50px;
    width: 550px;
    z-index: 2002;
    display: none;
}  

.popup h2	{
		margin-bottom: 10px;
		font-size: 1.2em;
	}
	.popup form	{
		margin-top: 2%;
		padding: 30px 0 0 0;
	}
	.popup input[type="text"]{
		text-align: center;
		font-style: italic;
		display: block;
		width: 500px;
		
		margin-bottom: 10px;
		border: 1px solid #D9D9D9;
    	display: inline-block;
    	height: 40px;
    	line-height: 40px;
    	padding: 0;
    	vertical-align: middle;
	}
	
	
	.popup .alignCenter	{
		margin-top: 30px;
	}
	.popup textarea {
    display: block;
    font-style: italic;
    margin-bottom: 10px;
    text-align: left;
    width: 500px;
    border: 1px solid #D9D9D9;
    
	}
.basket_num
	{
	padding: 4px;
	background: #F0F0F0;	
	}
.basket_num_buttons
	{
	width: 20px; 
	height: 20px;
	border: 1px solid #000;
	margin: 0 5px;
	display: inline-block;	
	color: #FFF;
	background: #000;
	text-align: center;
	cursor: pointer;	
	}
.send_order {
	margin-top: 60%;
	margin-left: -16.5%;
}

@media screen and (min-width:1300px) and (max-width:1800px) {
form {
	margin-top: 11.5%;
}

.nav {
	margin-top: -9.77777778%;
}

.add {
	margin-top: 3%;
	font-size: 0.8em;
}
button img {
	width: 16%;
	height: 60%;
}
figcaption{
	font-size: 1em;
}
.price0 {
	font-size: 0.9em;
}
.price1{
	font-size: 1.3em;
}
}

@media screen and (min-width:900px) and (max-width:1300px) {

form{
	width: 18%;
	margin-top: 12%;
}
.entry_1 {
	width: 40%;
}
.entry_2 {
	width: 95%;
}
.nav {
	margin-top: -3.77777778%;
}
ul.mainNav {
	margin-left: 8%;
	padding-top: 1.58888889%;
}
.mainNav a {
	font-size: 0.9em;
}

#basket {
	margin-top: 12%;
}
.add {
	margin-top: 10%;
    margin-left: 8%;
	font-size: 0.7em;
}
button img {
	visibility: hidden;
}
.price0 {
	font-size: 0.7em;
}
.price1{
	font-size: 1em;
}
figcaption{
	font-size: 0.8em;
}
.table {
	border-spacing: 40px 40px;
}
.cell {
	width: 20.6666667%;
}
.bcontainer
{
width: 650px;
height: 480px;
margin-top: -7%;
margin-left: -14%;
}
}
@media screen and (min-width:460px) and (max-width:900px) {
.cell {
	display: inline-block;
	width: 30.6666667%;
	margin-left: 10%;
	margin-right: 5%;
	margin-bottom: 5%;
	padding-bottom: 5%;
	padding-top: 1%;
	border: none;
	border-bottom: 1px solid #bababa;
	border-radius: 0px;
}
.table {
	border-spacing: 10px 10px;
}
.row {
	display: inline-block;
}
.logo {
	margin-top: -8%;
	margin-left: 26%;
}
form {
	margin-top: 10%;
}
.entry_1 {
	width: 40%;
}
.entry_2 {
	width: 95%;
}
fieldset {
	font-size: 0.6em;
}
.nav {
	margin-top: 0.77777778%;
}
ul.mainNav {
	margin-left: 3%;
	padding-top: 1.98888889%;
}
.mainNav a {
	font-size: 0.7em;
}
#basket {
	margin-top: 9.6%;
}
button img {
	visibility: hidden;
}
.add {
	margin-top: 9%;
    margin-left: 10%;
	font-size: 0.8em;
}
figcaption{
	font-size: 0.8em;
}
h1 {
	font-size: 1.3em;
}
.price0 {
	font-size: 0.9em;
}
.price1{
	font-size: 1.2em;
}
.bcontainer
{
width: 360px;
height: 500px;
margin-top: -7%;
margin-left: -37%;
}
#basket:hover {
-ms-transform: scale(1.1);
-webkit-transform: scale(1.1);
-o-transform: scale(1.1);
-moz-transform: scale(1.1);
transform: scale(1.1);
}
}
@media screen and (min-width:0px) and (max-width:460px) {
.cell {
	display: block;
	width: 70%;
	margin-bottom: 8%;
	padding-top: 2%;
	padding-bottom: 4%;
}
.table {
	border-spacing: 20px 20px;
}
.logo {
	width: 60%;
	margin-top: 3%;
	margin-left: 36%;
}
form {
	width: 25.6666667%;
	margin-top: 2%;
}
fieldset {
	font-size: 0.6em;
}
.entry_1 {
	width: 40%;
}
.entry_2 {
	width: 95%;
}
 .nav {
	margin-top: 8.77777778%;
}
.mainNav a {
	font-size: 0.6em;
}
ul.mainNav {
	margin-left: 0%;
}
.row {
	display: block;
}
h1 {
	font-size: 1.1em;
}
#basket {
	margin-top: 16.6%;
	margin-right: 1%;
}
button img {
	visibility: hidden;
}
.add-to-cart {
	width: 80%;
	padding-top: 3%;
	height: 40px;
	margin-left: 7%;
}
figcaption{
	font-size: 0.7em;
}
.price0 {
	font-size: 0.6em;
}
.price1{
	font-size: 0.9em;
}
.add {
	margin-top: 2%;
    margin-left: 13%;
	font-size: 0.7em;
}
address {
	font-size: 0.7em;
}
#basket:hover {
-ms-transform: scale(0.9);
-webkit-transform: scale(0.9);
-o-transform: scale(0.9);
-moz-transform: scale(0.9);
transform: scale(0.9);
}
.bcontainer
{
width: 260px;
height: 540px;
margin-left: -85%;
padding-left: 0px;
}

#bcaption td {padding: 2px;}
#bcaption td:nth-child(1) { width: 20px; }		/*ID*/
#bcaption td:nth-child(2) { width: 40px; }		/*NAME*/
#bcaption td:nth-child(3) { width: 50px; }		/*PRICE*/
#bcaption td:nth-child(4) { width: 40px; }		/*NUM*/
#bcaption td:nth-child(5) { width: 10px; }		/*SUM*/

.bitem td:nth-child(1) { width: 20px; }
.bitem td:nth-child(2) { width: 40px; }
.bitem td:nth-child(3) { width: 50px; text-align: center;} 
.bitem td:nth-child(4) { width: 40px; text-align: center;}
.bitem td:nth-child(5) { width: 10px; text-align: center;}
.bcontainer table
{
width: 5%;	
}
}